body {
    color: #e0760c;
    background: #181A12; /* Voir -> Note 1 ci-dessous */
}
<<<<<<< HEAD
.input-group{
    top: 180px;
    position: absolute;
    width: 280px;
}
.input-field{
    width: 100%;
    padding: 10px 0;
    margin: 5px 0;
    border-left: 0;
    border-top: 0;
    border-right: 0;
    border-bottom: 1px solid #999;
    outline: none;
    background: transparent;
}
=======
img{
    width: 50px;
>>>>>>> 1e9a4977ac2e84efc5ed757d2274f591d6ef7303
}